* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}




.navbar {
    font-size: 14px;
    font-family: Exo;
    background: #000;
    border: 1px solid #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding-bottom: 10px;
    height: 68px;
}

.main-nav {
    list-style-type: none;
    display: none;
}

.logo {
    width: 129px;
    height: 18.633px;
    flex-shrink: 0;
}

.nav-links {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}

.logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 0px;
    margin-left: 80px;


}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;


}

.active {
    display: block;
}

@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }

    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .main-nav li {
        margin: 0;
    }

    .nav-links {
        margin-left: 40px;
    }



    .navbar-toggle {
        display: none;
    }

    .logo:hover,
    .nav-links:hover {
        color: #0D7EE5;
    }
}


.material-icons-outlined {
    color: #FFF;
    transition: all 0.3s ease-out;
    margin-left: 40px;
}

.profile {
    height: 45px;
    width: 45px;
    cursor: pointer;
    border-radius: 50%;
}


.sub-item {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.725rem;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
}

.sub-item:hover {
    background-color: rgba(232, 232, 232, 0.4);
}

.sub-item:hover p {
    color: #000;
    cursor: pointer;
}

.sub-item p {
    font-size: 0.85rem;
    color: #888888;
    font-weight: 500;
    margin: 0.4rem 0;
    flex: 1;
}





img {
    max-width: 100%;
    height: auto;
}


ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 3rem;
}

li {
    list-style-type: none;
    position: relative;
    padding: 0.625rem 0 0.5rem;
}

li ul {
    flex-direction: column;
    position: absolute;
    background-color: white;
    align-items: flex-start;
    transition: all 0.5s ease;
    width: 20rem;
    right: -1.5rem;
    top: 4.5rem;
    border-radius: 0.325rem;
    gap: 0;
    padding: 1rem 0rem;
    opacity: 0;
    box-shadow: 0px 0px 100px rgba(20, 18, 18, 0.25);
    display: none;
    overflow: hidden;
}

ul li:hover>ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: flex;
    z-index: 9999;
}

.material-icons-outlined {
    color: #888888;
    transition: all 0.3s ease-out;
}

.material-icons-outlined:hover {
    color: #0D7EE5;
    transform: scale(1.25) translateY(-4px);
    cursor: pointer;
}


.profile {
    height: 3rem;
    width: auto;
    cursor: pointer;
}

.sub-item {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.725rem;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
}

.sub-item:hover {
    background-color: rgba(232, 232, 232, 0.4);
}

.sub-item:hover .material-icons-outlined {
    color: #0D7EE5;
    transform: scale(1.08) translateY(-2px);
    cursor: pointer;
}

.sub-item:hover p {
    color: #000;
    cursor: pointer;
}

.sub-item p {
    font-size: 16px;
    color: #888888;
    font-weight: 500;
    margin: 0.2rem 0;
    flex: 1;
    font-family: exo;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 14px;
    border: none;
    outline: none;
    color: rgba(255, 255, 255, 0.7);
    ;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}



.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn:hover {
    color: #0D7EE5;
}

a {
    text-decoration: none;
}

.rectangle-section,
.unsplashzodcbkeohk8 {
    position: absolute;
    top: -66px;
    left: 0;
    width: 100%;
    height: 497px;
}

.unsplashzodcbkeohk8 {
    background-image: url(./public/unsplashzodcbkeohk8@2x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.rectangle-section {
    background-color: var(--color-gray-1100);
}

.events {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
}

.events-wrapper {
    position: absolute;
    top: 156px;
    left: 121px;
    display: flex;
    flex-direction: row;
    padding: var(--padding-3xs);
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-51xl);
}

.golf-championship1 {
    position: absolute;
    top: 275px;
    left: 264px;
    font-weight: 500;
    color: var(--color-dodgerblue-100);
}

.vector-icon3 {
    position: relative;
    width: 5px;
    height: 10px;
}

.frame-div,
.vector-frame {
    position: absolute;
    top: 270px;
    left: 177px;
    display: flex;
    flex-direction: row;
    padding: var(--padding-3xs);
    align-items: flex-start;
    justify-content: flex-start;
}

.frame-div {
    left: 240px;
}

.home {
    text-decoration: none;
    position: relative;
    font-weight: 500;
    color: inherit;
}

.home-wrapper {
    position: absolute;
    top: 264px;
    left: 125px;
    display: flex;
    flex-direction: row;
    padding: var(--padding-3xs);
    align-items: center;
    justify-content: center;
}

.event {
    position: relative;
    font-weight: 500;
}

.event-wrapper {
    position: absolute;
    top: 264px;
    left: 191px;
    display: flex;
    flex-direction: row;
    padding: var(--padding-3xs);
    align-items: center;
    justify-content: center;
}

.unsplashzodcbkeohk8-parent {
    position: relative;
    width: 100%;
    height: 431px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-sm);
    color: var(--color-white);
    font-family: var(--font-poppins);
}

.frame-child {
    position: absolute;
    top: 84px;
    left: calc(50% - 688px);
    border-radius: var(--br-5xs);
    background-color: var(--color-white);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.21);
    width: 836px;
    height: 746px;
}

.upcoming-event-1-8-icon {
    position: absolute;
    top: 84px;
    left: 61px;
    border-radius: var(--br-5xs) var(--br-5xs) 0 0;
    width: 836px;
    height: 430px;
    object-fit: cover;
}

.lorem-ipsum-dolor {
    top: 536px;
    font-weight: 400;
    display: inline-block;
    width: 816px;
}

.lorem-ipsum-dolor,
.lorem-ipsum-dolor1,
.share-this-event {
    margin: 0;
    position: absolute;
    left: 71px;
    font-size: inherit;
    font-family: inherit;
}

.lorem-ipsum-dolor1 {
    top: 628px;
    font-weight: 400;
    display: inline-block;
    width: 816px;
}

.share-this-event {
    top: 738px;
    font-weight: 600;
}

.component-63-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    background-color: var(--color-darkslategray-400);
}

.vector-icon1 {
    position: relative;
    width: 8px;
    height: 14px;
}

.vector-container {
    position: absolute;
    height: 87.5%;
    width: 70%;
    top: 5%;
    right: 15%;
    bottom: 7.5%;
    left: 15%;
    display: flex;
    flex-direction: row;
    padding: var(--padding-3xs);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.component-63,
.vector-frame {
    position: absolute;
    top: 766px;
    left: 71px;
    width: 40px;
    height: 40px;
}

.vector-frame {
    height: 87.5%;
    width: 70%;
    top: 5%;
    right: 15%;
    bottom: 7.5%;
    left: 15%;
    display: none;
    flex-direction: row;
    padding: var(--padding-3xs);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.component-66 {
    position: absolute;
    top: 766px;
    left: 218px;
    width: 40px;
    height: 40px;
}

.component-64-icon,
.component-65-icon,
.vector-icon3 {
    position: absolute;
    top: 766px;
    left: 120px;
    width: 40px;
    height: 40px;
}

.component-65-icon,
.vector-icon3 {
    left: 169px;
}

.vector-icon3 {
    height: 0.98%;
    width: 0.97%;
    top: 58.86%;
    right: 82.99%;
    bottom: 40.16%;
    left: 16.04%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.frame-item {
    position: absolute;
    top: 84px;
    left: 1012px;
    border-radius: var(--br-5xs);
    background-color: var(--color-white);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.21);
    width: 369px;
    height: 346px;
}

.event-details {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 600;
    font-family: inherit;
}

.event-details-wrapper {
    position: absolute;
    top: 93px;
    left: 1054px;
    display: flex;
    flex-direction: row;
    padding: var(--padding-3xs);
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-base);
}

.end-date,
.golf-championship,
.start-date {
    position: absolute;
    font-weight: 500;
    color: var(--color-gray-400);
}

.golf-championship {
    margin: 0;
    top: 170px;
    left: 1164px;
    font-size: var(--font-size-base);
    font-family: inherit;
}

.end-date,
.start-date {
    top: 302px;
    left: 1104px;
    font-size: var(--font-size-4xs);
}

.end-date {
    top: 304px;
    left: 1241px;
}

.jul-2023,
.jul-20231 {
    position: absolute;
    top: 317px;
    left: 1104px;
    font-size: var(--font-size-xs);
}

.jul-20231 {
    top: 319px;
    left: 1241px;
}

.group-icon {
    position: absolute;
    height: 2.73%;
    width: 1.74%;
    top: 33.26%;
    right: 24.31%;
    bottom: 64.01%;
    left: 70.96%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.component-49-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-8xs);
    border: 1px solid var(--color-dodgerblue-100);
    box-sizing: border-box;
}

.event-information1 {
    position: absolute;
    top: 22.22%;
    left: 15.71%;
    font-size: var(--font-size-smi);
    font-family: var(--font-poppins);
    color: var(--color-dodgerblue-100);
    text-align: center;
}

.component-49 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 365px;
    left: 1180px;
    width: 140px;
    height: 36px;
}

.get-ticket1 {
    position: absolute;
    width: 82.14%;
    top: 22.22%;
    left: 9.09%;
    font-size: var(--font-size-smi);
    font-family: var(--font-poppins);
    color: var(--color-dodgerblue-100);
    text-align: left;
    display: inline-block;
}

.component-50 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 365px;
    left: 1066px;
    width: 88px;
    height: 36px;
}

.upcoming-event-1-9-icon {
    position: absolute;
    top: 153px;
    left: 1065px;
    width: 84px;
    height: 60px;
    object-fit: cover;
}

.group-icon1 {
    position: absolute;
    height: 2.73%;
    width: 1.74%;
    top: 33.48%;
    right: 15%;
    bottom: 63.8%;
    left: 80.26%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.venue {
    position: absolute;
    top: 245px;
    left: 1098.31px;
    font-size: var(--font-size-4xs);
    font-weight: 500;
    color: var(--color-gray-400);
}

.san-francisco {
    position: absolute;
    top: 260px;
    left: 1098px;
    font-size: var(--font-size-xs);
}

.group-icon2 {
    position: absolute;
    height: 3.16%;
    width: 1.41%;
    top: 26.94%;
    right: 24.63%;
    bottom: 69.9%;
    left: 70.96%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.frame-inner {
    position: absolute;
    top: 778px;
    left: 230px;
    width: 16px;
    height: 16px;
}

.rectangle-parent {
    position: relative;
    background: linear-gradient(180deg, #26a69a, rgba(25, 116, 209, 0.49));
    width: 100%;
    height: 915px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-smi);
    color: var(--color-black);
    font-family: var(--font-poppins);
}



.facebook-icon1 {
    position: relative;
    border-radius: var(--br-31xl);
    width: 24px;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
}

.twitter-icon1 {
    border-radius: var(--br-7xs);
    overflow: hidden;
    flex-shrink: 0;
}

.instagram-icon1,
.twitter-icon1 {
    position: relative;
    width: 24px;
    height: 24px;
}

.linkedin-item {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-31xl);
    background-color: var(--color-dodgerblue-200);
}

.linkedin-logo-icon2 {
    position: absolute;
    height: 58.33%;
    width: 58.33%;
    top: 20.83%;
    right: 20.83%;
    bottom: 20.83%;
    left: 20.83%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.facebook-group {
    position: absolute;
    top: 106px;
    left: calc(50% - 75px);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-lg);
}

.footer-item {
    position: absolute;
    top: 259px;
    left: 121.49px;
    border-top: 1px solid var(--color-dimgray-500);
    box-sizing: border-box;
    width: 1197.01px;
    height: 1px;
}

.ticketflo3 {
    text-decoration: none;
}

.ticketflo2 {
    color: #FFF;
}

.copyright-2021-container1 {
    position: absolute;
    top: 291px;
    left: calc(50% - 117px);
    font-size: var(--font-size-2xs);
    font-weight: 600;
    color: #FFF;
}

.about-us1 {
    left: 137px;
    width: 87px;
}

.about-us1,
.contact-us1,
.follow-us-on1,
.ticketflo-is-an1 {
    position: absolute;
    top: 61px;
    display: inline-block;
}

.follow-us-on1 {
    left: calc(50% - 64px);
    width: 128px;
}

.contact-us1,
.ticketflo-is-an1 {
    left: 1122px;
    width: 110px;
}

.ticketflo-is-an1 {
    top: 106px;
    left: 137px;
    color: var(--color-white);
    width: 308px;
}

.communication-call1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
}

.div1 {
    position: absolute;
    top: 2px;
    left: 36px;
}

.communication-call-group,
.communication-email-group {
    position: absolute;
    top: 106px;
    left: 1122px;
    width: 134px;
    height: 24px;
    color: var(--color-white);
}

.communication-email-group {
    top: 150px;
    left: 1125px;
    width: 193px;
}

.blank-line2 {
    margin: 0;
}

.privacy-policy4 {
    position: absolute;
    top: 150px;
    left: 1127px;
    font-size: var(--font-size-lg);
    color: inherit;
    display: inline-block;
    width: 125px;
    height: 68px;
}

.footer-parent,
.footer1 {
    height: 325px;
    overflow: hidden;
}

.footer1 {
    position: absolute;
    bottom: 0;

    background-color: var(--color-gray-300);
    width: 100%;
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color-dodgerblue-100);
    font-family: var(--font-roboto);
}

.footer-parent {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
}