.blue-abstract-gradient-wave-wa-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 937.69px;
  object-fit: cover;
}

.dots-icon2 {
  position: absolute;
  height: 14.28%;
  width: 8.28%;
  top: 31.78%;
  right: 78.11%;
  bottom: 53.94%;
  left: 13.61%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.3;
}

.loging-child {
  position: absolute;
  top: calc(50% - 214px);
  left: calc(50% - 467px);
  background-color: var(--color-white);
  box-shadow: 0 4px 35px rgba(0, 0, 0, 0.25);
  width: 900px;
  height: 427px;
}

.email1 {
  position: relative;
}

.email-container,
.password-container {
  position: absolute;
  top: 240px;
  left: 339px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  align-items: center;
  justify-content: center;
}

.password-container {
  top: 325px;
}

.component-36,
.component-37 {
  border: 1px solid var(--color-darkgray-100);
  border-radius: var(--br-8xs);
  background-color: transparent;
  position: absolute;
  top: 281px;
  left: 339px;
  width: 400px;
  height: 36px;
}

.component-37 {
  top: 366px;
}

.remember-me {
  position: absolute;
  top: 422px;
  left: 368px;
  color: var(--color-dimgray-300);
}

.loging-item {
  cursor: pointer;
  position: absolute;
  top: 423px;
  left: 339px;
  width: 18px;
  height: 18px;
}

.forgot-your-password1 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
}

.forgot-your-password {
  position: absolute;
  top: 421px;
  left: 574px;
  width: 161px;
  height: 21px;
  color: #0e67d0;
}

.component-38-item {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-lightseagreen);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-8xs);
}

.log-in2 {
  position: absolute;
  width: 60%;
  top: 19.44%;
  left: 20%;
  font-weight: 600;
  display: inline-block;
}

.component-381 {
  position: absolute;
  top: 471px;
  left: 339px;
  width: 400px;
  height: 36px;
  text-align: center;
  color: var(--color-white);
}

.in-icon1,
.loging-inner,
.rectangle-div {
  position: absolute;
  top: 151px;
  width: 347px;
  height: 427px;
}

.loging-inner {
  left: 842px;
  background-color: var(--color-gainsboro-200);
}

.in-icon1,
.rectangle-div {
  left: 840px;
}

.in-icon1 {
  object-fit: cover;
}

.rectangle-div {
  background: linear-gradient(146.87deg,
      rgba(50, 65, 72, 0.83),
      rgba(50, 65, 72, 0.66));
}

.login-to-your {
  margin: 0;
  position: absolute;
  top: 193px;
  left: 339px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  font-family: inherit;
}

.register-here {
  color: var(--color-lightseagreen);
}

.dont-have-account-container {
  position: absolute;
  top: 520px;
  left: 421px;
  font-size: var(--font-size-xs);
  cursor: pointer;
}

.back {
  margin: 0;
}

.welcome-back {
  margin: 0;
  position: absolute;
  top: 161px;
  left: 860px;
  font-size: var(--font-size-21xl);
  font-weight: 700;
  font-family: inherit;
  color: var(--color-lightseagreen);
}

.music-sport-theatre-container1 {
  position: absolute;
  top: 296px;
  left: 855px;
  color: var(--color-white);
  display: inline-block;
  width: 306px;
}

.loging-child1 {
  position: absolute;
  top: 396.5px;
  left: 853.5px;
  border-top: 3px solid var(--color-darkcyan);
  box-sizing: border-box;
  width: 68.03px;
  height: 3px;
}

.dots-icon3 {
  position: absolute;
  height: 14.28%;
  width: 8.28%;
  top: 82.74%;
  right: 89.64%;
  bottom: 2.98%;
  left: 2.08%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.3;
}

.circles-icon1 {
  position: absolute;
  top: 2px;
  left: 122px;
  width: 1250px;
  height: 229.93px;
}

.loging {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 730px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-poppins);
}