.profile-section-child {
    position: absolute;
    top: 14px;
    left: 12px;
    border-radius: var(--br-6xl) 0 0 var(--br-6xl);
    background-color: #324148;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
    width: 184px;
    height: 700px;
}

.profile-section-item {
    position: absolute;
    top: 14px;
    left: 196px;
    background-color: var(--color-white);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.11);
    border-top: 1px solid var(--color-darkslategray-200);
    box-sizing: border-box;
    width: 100%;
    height: 48px;
}

.alex {
    position: relative;
    font-size: var(--font-size-sm);
    font-weight: 500;
    font-family: var(--font-exo);
    color: var(--color-black);
    text-align: left;
}

.alex-wrapper {
    position: absolute;
    height: 100%;
    width: 94.23%;
    top: 0;
    right: 5.77%;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    padding: var(--padding-3xs);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.vector-icon7 {
    position: absolute;
    height: 14.15%;
    width: 17.95%;
    top: 46.77%;
    right: -1.28%;
    bottom: 39.08%;
    left: 83.33%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}

.frame-parent {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    height: 4.7%;
    width: 3.61%;
    top: 2.17%;
    right: 4.42%;
    bottom: 93.13%;
    left: 91.97%;
}

.profile-section-inner {


    position: absolute;
    height: 5.42%;
    width: 3.13%;
    top: 1.81%;
    right: 7.64%;
    bottom: 92.77%;
    left: 89.24%;
    display: flex;
    flex-direction: row;
    padding: var(--padding-3xs);
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;
    max-height: 100%;


}

.my-profile1 {
    position: absolute;
    top: 28px;
    left: 235px;
    font-weight: 500;
}

.ticketflo-light-1-icon {
    position: absolute;
    top: 32px;
    left: 39px;
    width: 129px;
    height: 18.63px;
    object-fit: cover;
}

.information-child,
.information-item {
    position: absolute;
    border-radius: var(--br-8xs);
}

.information-child {
    height: 40.07%;


    right: 80.44%;
    bottom: 61.85%;
    left: -1.36%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;

    max-width: 960px;
    margin: 30px auto;
    padding: 20px;
}

.information-item {
    height: 100%;
    width: 78.25%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 21.75%;
    background-color: var(--color-white);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
    border: 1px solid #b0aaaa;
    box-sizing: border-box;
}

.personal-information {
    margin: 0;
    position: absolute;
    top: 5.23%;
    left: 24.48%;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
}

.information-inner {
    border-radius: 5px;
    border: 1px solid #646464;
    background-color: transparent;
    position: absolute;
    height: 6.27%;
    width: 20.29%;
    top: 21.43%;
    right: 55.23%;
    bottom: 72.3%;
    left: 24.48%;
}

.contact-number,
.first-name1,
.gender,
.last-name1 {
    cursor: pointer;
    position: absolute;
    top: 16.9%;
    left: 24.48%;
}

.contact-number,
.gender,
.last-name1 {
    left: 47.32%;
}

.contact-number,
.gender {
    top: 31.18%;
    left: 47.5%;
}

.gender {
    top: 45.64%;
    left: 47.59%;
}

.information-child1 {
    border-radius: 5px;
    border: 1px solid #646464;
    background-color: transparent;
    position: absolute;
    height: 6.27%;
    width: 20.29%;
    top: 21.43%;
    right: 32.58%;
    bottom: 72.3%;
    left: 47.13%;
}

.address,
.date-of-birth,
.email1 {
    cursor: pointer;
    position: absolute;
    top: 31.36%;
    left: 24.57%;
    font-size: var(--font-size-smi);
}

.address,
.date-of-birth {
    top: 45.82%;
    left: 24.66%;
}

.address {
    top: 60.1%;
    left: 24.75%;
}

.contact-number1,
.information-child2 {
    border-radius: 5px;
    border: 1px solid #646464;
    background-color: transparent;
    position: absolute;
    height: 6.27%;
    width: 20.29%;
    top: 35.71%;
    right: 55.23%;
    bottom: 58.01%;
    left: 24.48%;
}

.contact-number1 {
    right: 32.21%;
    left: 47.5%;
}

.date-of-birth-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-8xs);
    border: 1px solid var(--color-dimgray-100);
    box-sizing: border-box;
    opacity: 0.5;
}

.dd-mm-yyyy {
    position: absolute;
    top: 25%;
    left: 50.22%;
    font-weight: 500;
}

.date-of-birth1,
.gender1 {
    height: 6.27%;
    width: 20.29%;
    top: 50.17%;
    bottom: 43.55%;
}

.date-of-birth1 {
    position: absolute;
    right: 55.23%;
    left: 24.48%;
    color: var(--color-dimgray-100);
    border-radius: 5px;
    border: 1px solid #646464;
}

.gender1 {
    border-radius: 5px;
    border: 1px solid #646464;
    right: 32.12%;
    left: 47.59%;
}

.address1,
.edit-child,
.gender1 {
    position: absolute;
    background-color: transparent;
}

.address1 {
    border-radius: 5px;
    border: 1px solid #646464;
    height: 9.76%;
    width: 49.14%;
    top: 64.46%;
    right: 26.39%;
    bottom: 25.78%;
    left: 24.48%;
}

.edit-child {
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-8xs);
    border: 1px solid var(--color-dodgerblue-100);
    box-sizing: border-box;
}

.vector-icon8 {
    height: 47.22%;
    width: 19%;
    top: 25%;
    right: 58%;
    bottom: 27.78%;
    left: 23%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}

.edit,
.edit1,
.vector-icon8 {
    position: absolute;
}

.edit1 {
    top: 22.22%;
    left: 52%;
    font-size: var(--font-size-smi);
    font-family: var(--font-poppins);
    color: var(--color-dodgerblue-100);
    text-align: left;
}

.edit {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    height: 6.27%;
    width: 9.1%;
    top: 83.45%;
    right: 66.24%;
    bottom: 10.28%;
    left: 24.66%;
}

.information {
    position: absolute;
    top: 110px;
    left: 235px;
    width: 1099px;
    height: 574px;
    text-align: left;
    font-size: var(--font-size-sm);
    color: var(--color-black);
    font-family: var(--font-poppins);
}

.vector-icon9 {
    position: absolute;
    height: 81.01%;
    width: 25.25%;
    top: 8.33%;
    right: 74.75%;
    bottom: 10.66%;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}

.home1 {
    top: 0;
    left: 51.52%;
    font-size: var(--font-size-base);
    font-family: var(--font-poppins);
    color: var(--color-white);
    text-align: left;
}

.events,
.home,
.home1 {
    position: absolute;
}

.home {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    top: 121px;
    left: 39px;
    width: 99px;
    height: 24px;
}

.events {
    top: 9.63%;
    left: 49.02%;
    font-size: var(--font-size-base);
    font-family: var(--font-poppins);
    color: var(--color-white);
    text-align: left;
}

.vector-icon10 {
    position: absolute;
    height: 94.13%;
    width: 21.45%;
    top: 0;
    right: 78.55%;
    bottom: 5.87%;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}

.eventi {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 195px;
    left: 39px;
    width: 102px;
    height: 26.56px;
}

.vector-icon11 {
    position: absolute;
    height: 30.26%;
    width: 10.06%;
    top: 36.13%;
    right: -1.78%;
    bottom: 33.61%;
    left: 91.73%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}

.orders {
    position: absolute;
    top: 0;
    left: 38.61%;
    font-size: var(--font-size-base);
    font-family: var(--font-poppins);
    color: var(--color-white);
    text-align: left;
}

.vector-icon12 {
    position: absolute;
    height: 100%;
    width: 16.09%;
    top: 0;
    right: 83.91%;
    bottom: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}

.order {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 271.56px;
    left: 39px;
    width: 116.57px;
    height: 25px;
}

.vector-icon13 {
    position: absolute;
    height: 3.43%;
    width: 1.74%;
    top: 47.66%;
    right: 95.56%;
    bottom: 48.9%;
    left: 2.71%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}

.logout1,
.profile {
    position: absolute;
    font-size: var(--font-size-base);
    font-family: var(--font-poppins);
    text-align: left;
}

.profile {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    top: 347px;
    left: 90px;
    color: var(--color-lightseagreen);
    display: inline-block;
}

.logout1 {
    top: 0;
    left: 44.44%;
    color: var(--color-white);
}

.component-107-child {
    position: absolute;
    height: 87.5%;
    width: 21.21%;
    top: 18.75%;
    right: 80.3%;
    bottom: -6.25%;
    left: -1.52%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}

.component-107 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 638px;
    left: 39px;
    width: 99px;
    height: 24px;
}

.component-child,
.profile-section {
    background-color: var(--color-white);
}

.profile-section {
    position: relative;
    width: 100%;
    height: 728px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-sm);
    color: var(--color-black);
    font-family: var(--font-poppins);
}

.component-child {
    position: absolute;
    height: 92.39%;
    width: 78.95%;
    top: 7.61%;
    right: 21.05%;
    bottom: 0;
    left: 0;
    border: 1px solid var(--color-dimgray-100);
    box-sizing: border-box;
}

.group-icon1,
.vector-icon5 {
    position: absolute;
    height: 12.14%;
    width: 10.09%;
    top: 48%;
    right: 82.89%;
    bottom: 39.86%;
    left: 7.02%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}

.vector-icon5 {
    height: 11.33%;
    width: 9.65%;
    top: 22.67%;
    right: 83.33%;
    bottom: 66%;
}

.component-item {
    position: absolute;
    height: 0.67%;
    width: 79.39%;
    top: 74%;
    right: 20.83%;
    bottom: 25.33%;
    left: -0.22%;
    border-top: 1px solid var(--color-dimgray-100);
    box-sizing: border-box;
}

.my-profile {
    position: absolute;
    top: 22.67%;
    left: 22.81%;
}

.logout,
.payment-history,
.vector-icon6 {
    position: absolute;
    top: 50%;
    left: 22.81%;
}

.logout,
.vector-icon6 {
    top: 80%;
}

.vector-icon6 {
    height: 13.33%;
    width: 8.77%;
    right: 83.77%;
    bottom: 6.67%;
    left: 7.46%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}

.instance-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.rectangle-container,
.rectangle-frame,
.rectangle-wrapper {
    position: absolute;
    height: 22%;
    width: 78.95%;
    top: 17.33%;
    right: 21.05%;
    bottom: 60.67%;
    left: 0;
}

/*profile change*/
body {
    background: whitesmoke;
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 960px;
    margin: 30px auto;
    padding: 20px;
}

h1 {
    font-size: 20px;
    text-align: center;
    margin: 20px 0 20px;
}

h1 small {
    display: block;
    font-size: 15px;
    padding-top: 8px;
    color: gray;
}

.avatar-upload {
    position: relative;
    max-width: 205px;
    margin: 50px auto;
}

.avatar-upload .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
}

.avatar-upload .avatar-edit input {
    display: none;
}

.avatar-upload .avatar-edit input+label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
}

.avatar-upload .avatar-edit input+label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
}

.avatar-upload .avatar-edit input+label:after {
    content: "\f040";
    font-family: 'FontAwesome';
    color: #757575;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}

.avatar-upload .avatar-preview {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.avatar-upload .avatar-preview>div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}